<h1>New Artist</h1>

<form action="/create_user">
  <div>
    <label for="name">Artist</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="email">Image url</label><br />
    <input id="email" name="email" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

